[Unit]
Description=ASTRA D1 Scheduler Timer (Fires daily at 00:10)

[Timer]
OnCalendar=*-*-* 00:10:00
Persistent=false
Unit=astra-scheduler@D1.service

[Install]
WantedBy=timers.target
